name: learn-github-actions
run-name: ${{ github.actor }} is learning GitHub actions
on: [push]
jobs:
  maven-build-and-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          java-version: '11'
          distribution: 'zulu'
      - run: mvn clean package -DskipTests=true -P bmw -s jenkinsSettings.xml
      - run: mvn test
