name: learn-github-actions
on: [push]
jobs:
  maven-build-and-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          java-version: '11'
          distribution: 'zulu'
      - run: mvn clean package -DskipTests=true -P bmw --batch-mode
      - run: mvn test -P bmw --batch-mode
      - run: mvn verify -Dsurefire.skip=true -P bmw --batch-mode
      - run: echo ${{ github.sha }}
