name: bdqv-core-be-acr
on:
  workflow_dispatch:
    inputs:
      NO_CACHE:
        type: boolean
        default: 'true'
       # description: Do you want to build the Docker image with --no-cache?
      skipIntegrationTests:
        type: boolean
        default: 'false'
        description: 'Warning: Disabling this might cause deployment of hidden errors. Use this only with testing purposes.'
jobs:
  maven-build-and-test:
    runs-on: ubuntu-20.04
    env:
      artifactName: bdqv-core-be
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Prepare Agent
        uses: actions/setup-java@v4
        with:
          java-version: '11'
          distribution: 'zulu'
          # maven-version is 3.8.8
      - name: Adjust version info
        run: echo "SHORT_SHA=`echo ${GITHUB_SHA} | cut -c1-8`" >> $GITHUB_ENV
      - name: Compile Sources
        run: mvn clean package -DskipTests=true -P bmw --batch-mode
      - name: Execute Unit Tests
        run: mvn test -P bmw --batch-mode
      - name: Execute Integration Tests
        run: mvn verify -Dsurefire.skip=true -P bmw --batch-mode
        if: ${{ github.event.inputs.skipIntegrationTests != 'true' }}
      - name: Print SHORT_SHA
        run: echo ${{ env.SHORT_SHA }}
      #- name: Docker Login to ACR
        #uses: azure/docker-login@v1
        #with:
          #login-server: acrbdqvnextint.azurecr.io
          #username: ${{ secrets.ACR_USERNAME }}
          #password: ${{ secrets.ACR_PASSWORD }}
      - name: Build Docker Image and Push to ACR
        uses: docker/build-push-action@v4
        with:
          context: ./docker
          push: false
          tags: acrbdqvnextint.azurecr.io/bdqvnext-dev/${{ env.artifactName }}:${{ env.SHORT_SHA }}
