name: 01_BuildStageACR
run-name: bdqv-core-be-acr
on: [push]
jobs:
  maven-build-and-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Prepare Java and Maven
        uses: actions/setup-java@v4
        with:
          java-version: '11'
          distribution: 'zulu'
          # maven-version is 3.8.8
      - name: Adjust version info
        run: echo "SHORT_SHA=`echo ${GITHUB_SHA} | cut -c1-8`" >> $GITHUB_ENV
      - name: Compile Sources
        run: mvn clean package -DskipTests=true -P bmw --batch-mode
      - name: Execute Unit Tests
        run: mvn test -P bmw --batch-mode
      - name: Execute Integration Tests
        run: mvn verify -Dsurefire.skip=true -P bmw --batch-mode
      - name: Print SHORT_SHA
        run: echo ${{ env.SHORT_SHA }}
